/* main content */
* {
  box-sizing: border-box; 
}
body {
  background-color: #ffffff;
  font-family: Helvetica, sans-serif;
  font-weight: 800;
  margin: 5px; 
}
/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
/* Track 
::-webkit-scrollbar-track {
  box-shadow: inset 5px 5px 5px rgb(55, 255, 0); 
  border-radius: 10px;
} */
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255); 
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000; 
}
@media (min-width: 720px) {
  .sidenav {
    height: 100%;
    max-width: max-content;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f3ffdd;
    overflow-x:scroll;
    padding-top: 20px;   
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #0400ff;
    display: block;
    border-radius: 5px;
    margin: 15px 5px 5px 5px;
    background-color: #fffffff0;
    box-shadow: 0 0 10px rgba(88, 255, 152, 0.704);
    padding: 10px 10px;
    border-radius: 4px;
    border-radius: 10px 0px 10px 0px;
    height: fit-content;
    width: fit-content;
    align-items: center;
    width: 80%;
    margin-right: 10px;
  
  }
  .sidenav p {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    display: block;
  }
  .sidenav a:hover {
    color: #000000;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    border-radius: 5px;
    margin: 15px 5px 5px 5px;
    background-color: #b8ff8ff0;
    box-shadow: 0 0 10px rgba(157, 114, 114, 0.704);
    padding: 10px 10px;
    border-radius: 0px 10px 0px 10px;
    height: fit-content;
    width: fit-content;
    align-items: center;
    width: 80%;
  }
  .mobile-menu-button{
    display: none;
  }
}
@media screen and (max-width: 720px) {
  .mobile_nav{
    background-color: #f3ffdd;
    padding-top: 20px;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .nav_details{
    display: none;
  }
  .nav_english_medium{
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .nav_tamil_medium{
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #0400ff;
    display: block;
    border-radius: 5px;
    margin: 15px 5px 5px 5px;
    background-color: #fffffff0;
    box-shadow: 0 0 10px rgba(88, 255, 152, 0.704);
    padding: 10px 10px;
    border-radius: 4px;
    border-radius: 10px 0px 10px 0px;
    height: fit-content;
    width: fit-content;
    align-items: center;
    width: 80%;
    margin-right: 10px;
  
  }
  .sidenav p {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    display: block;
  }
  .sidenav a:hover {
    color: #000000;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    border-radius: 5px;
    margin: 15px 5px 5px 5px;
    background-color: #b8ff8ff0;
    box-shadow: 0 0 10px rgba(157, 114, 114, 0.704);
    padding: 10px 10px;
    border-radius: 0px 10px 0px 10px;
    height: fit-content;
    width: fit-content;
    align-items: center;
    width: 80%;
  }
  .close {
    /* Show the menu when the 'open' class is present */
    display: none;
  }
  .open {
    /* Show the menu when the 'open' class is present */
    display: grid;
  }

  /* Style for the mobile menu button */
  .mobile-menu-button {
    position:fixed;
    top: 20px;
    left: 20px;
    background-color: #ffa5a5;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    color: #0400ff;
  }
}